h2{
    color: #638d89;
}
.line{
    height: 2px;
    width: 100px;
    background-color: firebrick;
    margin: 0 auto;
}
.pointColor{
    margin-top: 50px;
}
.point-1{
    height: 30px;
    width: 30px;
    background: #1EB021;
    border-radius: 50%;
    margin: 0 auto;
}
.point-2{
    height: 30px;
    width: 30px;
    background: #F7BD00;
    border-radius: 50%;
    margin: 0 auto;
}
.point-3{
    height: 30px;
    width: 30px;
    background: #F70000;
    border-radius: 50%;
    margin: 0 auto;
}
p{
    text-align: center;
}
.box{
    height: 150px;
    width: 400px;
    background-color: dodgerblue;
    padding: 30px;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 60px;
}

.round-1{
    height: 30px;
    width: 30px;
    background-color: #1EB021;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 50px;
}
.round-2{
    height: 30px;
    width: 30px;
    background-color: #F7BD00;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 50px;
}
.round-3{
    height: 30px;
    width: 30px;
    background-color: #F70000;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 50px;
}